.login_page {
  height: 100vh;
  .background {
    height: 10%;
    background-color: hsl(360, 55%, 40%);
    color: hsl(0, 0%, 100%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    height: 100%;
    .login_form {
      position: relative;
      text-align: center;
      width: 60%;
      height: 30%;

      .id,
      .pw {
        box-sizing: border-box;
        width: 100%;
        height: 20%;
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 3px;
        padding: 0 20px;
        font-size: 1rem;
        margin: 8px 0;
        outline: none;
        &:focus {
          border-color: hsl(360, 55%, 40%);
        }
      }

      .find_join {
        margin-top: 6px;
        margin-bottom: 32px;
        .p {
          float: right;
          font-size: 0.8rem;
          cursor: pointer;
          &:last-child::after {
            content: "|";
            padding: 0 8px;
          }
        }
      }

      .loginBtn {
        width: 100%;
        height: 20%;
        margin: 8px 0;
        font-size: 1.1rem;
        background-color: hsl(360, 55%, 40%);
        border-radius: 3px;
        color: hsl(0, 0%, 100%);
        border: none;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }

      .fa-eye {
        position: absolute;
        top: 50%;
        right: 10px;
        cursor: pointer;
      }
    }
  }
}

// Large devices
@media screen and (min-width: 768px) {
  .login_page {
    display: flex;
    height: 100vh;
    border: 3px;
    box-sizing: border-box;
    .background {
      flex: 5.5;
      height: 100%;
      background-color: hsl(360, 55%, 40%);
      color: hsl(0, 0%, 100%);
      text-align: center;
      font-size: 2rem;
    }

    .login {
      flex: 4.5;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0px;
      .login_form {
        width: 24vw;
        height: 30%;

        .pw_wrapper {
          position: relative;
          height: 20%;
        }

        .fa-eye {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 10px;
          cursor: pointer;
        }

        .id,
        .pw_wrapper .pw {
          box-sizing: border-box;
          width: 100%;
          border: 1px solid hsl(0, 0%, 80%);
          border-radius: 3px;
          padding: 0 20px;
          font-size: 0.8em;
          margin: 8px 0;
          outline: none;
          height: 20%;
          &:focus {
            border-color: hsl(360, 55%, 40%);
          }
        }

        .pw_wrapper .pw {
          margin: 0;
          height: 100%;
        }

        .loginBtn {
          width: 100%;
          height: 20%;
          margin: 8px 0;
          font-size: 1.1rem;
          background-color: hsl(360, 55%, 40%);
          border-radius: 3px;
          color: hsl(0, 0%, 100%);
          border: none;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
        }

        .find_join {
          .p {
            float: right;
            font-size: 0.8rem;
            cursor: pointer;
            &:last-child::after {
              content: "|";
              padding: 0 8px;
            }
          }
        }
      }
    }
  }
}
